{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "prettier",
    "simple-import-sort",
    "import"
  ],
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": [
    ".eslintrc.js",
    "apps/shared/migrations/**/*.ts"
  ],
  "rules": {
    "comma-dangle": "error",
    "semi": [
      "error",
      "never"
    ],
    "max-len": [
      "error",
      {
        "code": 140,
        "tabWidth": 2
      }
    ],
    "no-underscore-dangle": "off",
    "no-useless-constructor": "off",
    "no-return-await": "off",
    "consistent-return": "off",
    "prefer-destructuring": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "class-methods-use-this": "off",
    "no-shadow": "off",
    "indent": "off",
    "default-param-last": "off",
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "consistent": true
        },
        "ObjectPattern": {
          "consistent": true
        },
        "ImportDeclaration": {
          "multiline": true
        },
        "ExportDeclaration": {
          "multiline": true
        }
      }
    ],
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "ignore",
          ":": "ignore"
        }
      }
    ],
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/first": "error",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-duplicates": "error",
    "import/newline-after-import": "error",
    "import/order": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^\\w"
          ],
          [
            "^@"
          ],
          [
            "^libs"
          ],
          [
            "^\\."
          ]
        ]
      }
    ]
  }
}